@import "tailwindcss";

:root {
  --bg: #0b0e11;
  --panel-bg: #181a20;
  --border-color: #2b3139;
  --text-primary: #eaecef;
  --text-secondary: #848e9c;
  --binance-yellow: #fcd535;

  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-primary);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: var(--bg);
}

#root {
  width: 100%;
}
